body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
.main{
    background-color:#ff0000;
	padding: 15px;
}
.header{
    background-color:#000dff;
	padding: 50px 50px;
}
.content{
    background-color:#1ce901;
	padding: 270px 390px;
    margin: 0;
    float: left; 
}
.sidebar{
    margin: 0;
    background-color:#036017;
	padding: 270px 177px;
    padding-right: 5px;
    padding-left: 20px;
}
.footer{
    margin: 0;
    background-color:#98af00;
    padding-bottom: 75px;
    padding-top: 50px;
}
